body {
  text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.text-center {
  text-align: center;
}

#button-container {
  margin-top: 16px;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

#refresh_button, #dashboard_button {
  margin-bottom: 16px;
}