<!DOCTYPE html>
<html>
    <head>
        <title>spot-utils - pointcloud index</title>
        <style>
            body {
                text-align: center;
            }
            table {
                width: 60%;
                border-collapse: collapse;
                margin: 0 auto;
            }
            th, td {
                border: 1px solid black;
                padding: 8px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>POINTCLOUD INDEX</h1>
        </header>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for pointcloud in pointclouds %}
                <tr>
                    <td><a href="{% url 'web-pointcloud' pointcloud.name %}">{{ pointcloud.name }}</a></td>
                    <td>{{ pointcloud.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>